fastapi==0.116.1
uvicorn[standard]==0.35.0
python-multipart==0.0.20
pydantic==2.11.7
pydantic-settings==2.10.1
langchain==0.3.27
langchain-google-genai==2.0.12
langchain-community==0.3.27
langchain-chroma==0.2.5
langchain-groq
langchain-huggingface
langchain-text-splitters
sentence-transformers
Pillow>=10.0.0
chromadb==1.0.20
pypdf==6.0.0
cachetools==5.5.2
python-jose[cryptography]==3.3.0
sqlalchemy==2.0.43
psycopg2-binary==2.9.10
pandas==2.3.2
scikit-learn==1.7.1
matplotlib==3.10.6
seaborn==0.13.2
